body {
    background-color: rgb(251, 219, 196);
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: orange;
    width: 245px;
    height: 290px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.cap {
    margin: 10px;
}
label {
    font-weight: bold;
}
textarea {
    border-radius: 5px;
    resize: none;
}
.button {
    width: 170px;
    height: 20px;
    background-color: rgb(89, 202, 155);
    border-radius: 5px;
    
}
.button:hover {
    background-color: pink;
    transition: 1s;
    cursor: pointer;
}
.button-delete {
    margin-left: 35px;
    margin-top: 5px;
}

